* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2em;
    overflow: hidden;
}

#wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
    position: relative;
}

#login-view h1 {
    color: #0760b0;
    text-align: center;
}

#login-view p,
#login-controls-view h4 {
    text-align: center;
}

#login-controls-view {
    background-color: #eee;
    padding: 20px;
}

.powered-block {
    text-align: center;
}

.panel {
    margin-bottom: 0;
}

.main-righthead {
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imgbox {
    margin-left: 20px;
}

.account-holder {
    display: flex;
    min-width: 240px;
    justify-content: flex-end;
    align-items: center;
}


/************************ LEFT SECTION*******************************/

#leftSection {
    width: 20%;
    height: 100vh;
    border: 1px black;
    display: flex;
    flex-direction: column;
}

.leftSection-lastblock {
    display: flex;
    height: calc(100vh - 60px);
}

#contactsList {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d5f1fc;
}

#groupList {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d5f1fc;
}

#recentActivityList {
    width: 100%;
    background-color: #f7f8f8;
    flex: 1;
    overflow-y: auto;
    border-radius: 0;
}

.ch-list-mem,
.con-list-mem {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
}


/* .ch-list-mem-active {
    background-color: #BFB;
} */


/* #remoteVideo {
    position: absolute;
    height: 100%;
    width: auto;
    background-color: #000;
    z-index: 1;
} */

#remoteVideo {
    position: absolute;
    height: 100%;
    width: 50%;
    /* background-color: #000; */
    z-index: 1;
    left: 0;
}


/* #localVideo {
    height: auto;
    background-color: #000;
    position: absolute;
    z-index: 2;
    width: 20%;
    height: auto;
    bottom: 10%;
    right: 10%;
} */

#shareButton {
    width: 40px;
}

#localVideo {
    /* height: auto; */
    /* background-color: #000; */
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    /* bottom: 10%; */
    right: 0;
}

#callControls {
    vertical-align: bottom;
    /* position: absolute; */
    z-index: 3;
    bottom: 10%;
    width: 100%;
}

#conferenceCallControls {
    vertical-align: bottom;
    /* position: absolute; */
    z-index: 3;
    bottom: 10%;
    width: 100%;
}

#mute {
    /* background-image: url(../images/dc-img/ic-audio-normal.png); */
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

#mute:hover {
    /* background-image: url(../images/dc-img/ic-audio-hover.png); */
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

.block-user {
    background-image: url(../images/img3_44x44.png);
    background-repeat: no-repeat, repeat;
    background-size: 34px 35px;
}

.block-user.unblock {
    background-image: url(../images/unblockeduser.png);
    background-repeat: no-repeat, repeat;
    background-size: 34px 35px;
}

#callEnd {
    background-image: url(../images/dc-img/ic-end-call.png);
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

#muteConference {
    background-image: url(../images/dc-img/ic-audio-normal.png);
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

#muteConference:hover {
    background-image: url(../images/dc-img/ic-audio-hover.png);
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

#conferenceCallEnd {
    background-image: url(../images/dc-img/ic-end-call.png);
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

#muteConference img {
    width: 40px;
    height: 40px;
}

#muteConference.unmute {
    background-image: url(../images/dc-img/ic-audio-hover.png);
    background-repeat: no-repeat, repeat;
    background-size: 40px 40px;
}

.group-videos-view {
    height: calc(100vh - 155px);
}

.ch-list-mem:hover,
.ch-list-mem.active,
.con-list-mem:hover,
.ch-list-mem-active {
    background-color: #c4dee8;
}

.ch-list-mem .mem-pic,
.con-list-mem .mem-pic,
.mem-pic {
    height: 36px;
    width: 46px;
    color: #ddd;
    font-size: 36px;
    margin-right: 15px;
}

.overlay-participants-image {
    height: 36px;
    width: 46px;
    color: #ddd;
    font-size: 36px;
    margin-right: 15px;
    margin: 5px;
}

.mem-status-time {
    color: #808080;
    font-size: 12px;
}

.mem-contact-status,
.mem-status-message {
    color: #808080;
    font-size: 12px;
}

.video-container video.maximize-video {
    width: 100% !important;
    height: auto !important;
}

.ch-list-mem .mem-status-online {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6acaf0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    color: #f00;
    font-size: 12px;
    box-shadow: 1px 2px 2px #888888;
    margin: 0 5px;
    top: 4px;
    position: absolute;
    left: 34px;
}


/* .ch-list-mem .mem-status-offline {
    width: 20px;
    height: 16px;
    border-radius: 50%;
    background-color: #f00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f00;
    font-size: 20px;
    margin: 0 5px;
    box-shadow: 1px 2px 2px #888888;
} */

.ch-list-mem .mem-name,
.con-list-mem .mem-name {
    width: calc(100% - 70px);
    align-self: center;
    word-break: break-all;
}

.ch-list-mem .mem-name p,
.con-list-mem .mem-name p {
    margin: 0;
}

.header {
    width: 425px;
    height: 60px;
    /* background-color: #89dcfc; */
    padding: 5px 33px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-left: -40px;
}

.call-header {
    width: 100%;
    height: 60px;
    position: absolute;
    /* background-color: #1b7396; */
    z-index: 1;
    display: none;
    justify-content: flex-end;
    padding: 0 100px;
    align-items: center;
}

.call-footer {
    width: 100%;
    height: 60px;
    position: absolute;
    /* background-color: #1b7396; */
    z-index: 3;
    display: none;
    bottom: 0;
}

.conference-call-footer {
    width: 100%;
    height: 60px;
    position: absolute;
    /* background-color: #1b7396; */
    z-index: 3;
    display: none;
    bottom: 0;
}

.imgbox,
.rphoto {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #adddf0;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    font-size: 20px;
}

.name-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 40px;
    padding-top: 60px;
}

.name-block .btn {
    background-color: #fff;
    border-radius: 0;
}

.profile-name {
    margin-left: 10px;
}

.logout {
    color: grey;
}

.add-contact {
    font-size: 18px;
    color: grey;
}

.add-new-contact {
    font-size: 18px;
    color: grey;
}

.unread {
    width: 21px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff3030;
    display: flex;
    margin: 0px 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
    box-shadow: 1px 2px 2px #888888;
}

.sendbtn {
    width: 80px;
    height: 35px;
    background-color: #ffffff;
    color: #128bae;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.sendbtn::after {
    background-image: url("./../images/dc-img/ic-send-arrow.png");
}

.bubble .iconSec {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    float: left;
    background-color: #EEE;
}

.bubble .messageSec {
    float: left;
    width: calc(100% - 50px);
    margin: 0px 0px 0px 10px;
    height: 40px;
    line-height: 40px;
}

.chat-time-read {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.btn {
    width: 30px;
    height: 40px;
    background-color: #eeeeee;
    color: #717171;
    padding: 6px;
}

.searchbar {
    width: 50%;
    background-color: #fbfbfb;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    position: relative;
}

#searchResultDiv {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 15px;
    display: none;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.1);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.1);
    height: 250px;
    overflow: auto;
}

.smallFont {
    font-size: 9px;
    color: #ccc;
}

#searchResultDiv ul li {
    list-style-type: none;
    padding: 10px 0 5px;
    border-top: 1px solid #eeeeee;
    height: 40px;
    line-height: 1;
}

#searchResultDiv ul li:hover {
    background-color: #f8f8f8;
}

.mediumFont {
    font-size: 12px;
}

.searchbar input {
    width: 100%;
    border-radius: 4px;
    /* padding: 9px; */
    background-color: #f1f1f1;
    border: none;
    margin: 0;
}


/************************ RIGHT SECTION*******************************/

#rightSection {
    flex: 1;
    /*background-image:url("../images/what.png");*/
    background-color: #e5ddd5;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 75%;
}

.chat-window-items {
    overflow: auto;
}

#chatDisplay {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#dragModal {
    position: absolute;
    z-index: 9;
}

#dragModalheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #f2f4f7;
    color: #000;
    width: 100%;
    /* margin: 20px 0 0 0; */
}

.dialer.container {
    background-color: #030547;
    width: 320px;
    padding: 0px;
    margin: 30px auto;
    height: 430px;
    /* text-align: center; */
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#inputOutput {
    margin-bottom: 10px;
    color: #000;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 19px;
    padding: 5px 10px;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    /* background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat; */
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
}

#dragModalheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #f2f4f7;
    color: #000;
    width: 100%;
    /* margin: 20px 0 0 0; */
}

.row-dial {
    display: flex;
    justify-content: center;
}

.startDialer {
    background-color: #49863d;
    color: #fff;
    font-weight: 500;
}

.endDialer {
    background-color: #d31f0b;
    color: #fff;
    font-weight: 500;
}

.digit,
.dig {
    padding: 10px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    color: #3d3f86;
    font-weight: 700;
    line-height: 27px;
    border-radius: 36px;
    background: #ffffff;
    display: flex;
    margin: 5px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.startDialer {
    background-color: #49863d;
    color: #fff;
    font-weight: 500;
}

.endDialer {
    background-color: #d31f0b;
    color: #fff;
    font-weight: 500;
}

.endDialer {
    background-color: #d31f0b;
    color: #fff;
    font-weight: 500;
}

.blink_me {
    animation: blinker 3s linear infinite;
    font-size: 15px !important;
}

@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}

#callInProgress {
    color: #057404;
}

#callEndSuccessfully {
    color: #d31f0b;
}

#timerDialer {
    font-size: 15px;
    margin: 0 auto;
    width: 95px;
    color: #49863d;
    font-weight: 700;
}

#controls {
    margin: 0 auto;
    width: 600px;
}

#controls button {
    font-size: 24px;
}

.callDialer .fa {
    color: #3d3f86;
}

.callDialer {
    border: none;
    border-bottom: 1px solid #047496;
    color: #047496;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

#dragModal {
    position: absolute;
    z-index: 9;
}

#dragModalheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #f2f4f7;
    color: #000;
    width: 100%;
    /* margin: 20px 0 0 0; */
}

#callAnswerBtn {
    background-image: url(../images/answer-icon.png);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: 47px 47px;
    border: 1px solid #795f5fd9;
}

#callDeclineBtn {
    background-image: url(../images/decline.png);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: 47px 47px;
    border: 1px solid #795f5fd9;
}

#incomingCallScreen h5 {
    position: absolute;
    top: 20px;
    color: #fff;
    width: 100%;
}

#incomingCallScreen .divAnswerDecline {
    position: absolute;
    bottom: 0;
}

#incomingCallScreen {
    position: relative;
    bottom: 20px;
    /* width: 90%; */
    height: 100%;
}

.divAnswerDecline {
    display: flex;
    justify-content: space-around;
    color: #fff;
    width: 100%;
}

#wrapper .name-block .btn:hover {
    background-color: #ccc;
    opacity: .5;
}

#welcome {
    flex: 1;
    background: #ffffff;
    position: absolute;
    top: 60px;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    border-top: 1px solid #cccccc69;
}

#welcome .brand {
    font-size: 90px;
}

#dc-logo-img img {
    width: 75px;
    margin-left: 100px;
}


/************************ CHAT WINDOW*****************************/

#chatItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 110px);
    overflow: auto;
    background-color: #fff;
}

.fa {
    color: #000;
}


/* .chat-window-items{
	overflow-y: scroll;  
/* mozilla scroll fix 
height: calc(100% - 110px);
position: fixed;
right: 0;
width: calc(100% - 300px);
bottom: 50px;
} */

#overlay {
    width: 25%;
    display: none;
    background-color: #EDEDED;
}

.overlay-header {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #EDEDED;
}

.overlay-participants-head,
.overlay-group-participants-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.overlay-second-block {
    height: calc(100vh - 110px);
    overflow-y: auto;
}

.group-close button {
    margin-right: 10px;
    border: none;
}

.overlay-description-head,
.overlay-participants-head {
    color: #08A784;
    padding: 0px 0 10px;
}

.overlay-pic-block,
.overlay-description-block,
.group-exit-block {
    background-color: #fff;
    box-shadow: 0px 0 3px 1px #ccc;
    margin-bottom: 10px;
    padding: 28px 30px 19px;
}

.overlay-participants-name {
    width: calc(100% - 70px);
    /* height: 36px; */
    vertical-align: middle;
    padding: 15px 0;
}

.overlay-group-participants-block {
    background-color: #fff;
    box-shadow: 0px 0 3px 1px #ccc;
    margin-bottom: 10px;
    padding: 28px 5px 19px 30px;
}

.ovelayAdminDropdown-block {
    width: 70px;
}

.inner-overlay-pic-block {
    position: relative;
    margin-bottom: 20px;
}

#inner-pic-block img {
    width: 100%;
}

#inner-pic-block {
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

#groupContactList {
    font-size: 10px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-holder .dropdown .btn,
.account-holder .open>.dropdown-toggle.btn-primary:focus,
.account-holder .open>.dropdown-toggle.btn-primary:hover {
    background-color: #eeeeee00;
    color: #717171;
    border: none;
    margin-left: 10px;
}

.account-holder .open {
    position: relative;
}

.account-holder .open .dropdown-menu li a {
    padding: 3px 15px;
}

.account-holder .open .dropdown-menu {
    right: 0;
    left: unset;
    border-radius: 0;
}

.bubble {
    padding: 10px 15px 5px;
    margin: 5px;
    max-width: 60%;
    min-width: 10%;
    word-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clear: both;
    color: #505050;
}

.chat-window-items .tstamp {
    color: #909090;
}

.chat-window-items .datebubble {
    width: 100%;
    clear: both;
    max-width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.chat-window-items .datebubble .message {
    background-color: #128BAE;
    box-shadow: 1px 2px 2px #888888;
    border-radius: 10px;
    padding: 10px 30px;
    color: #fff;
}

.chat-window-items .remote {
    background-color: #fff;
    float: left;
    margin: 10px 10px 10px 50px;
    border-radius: 0px 10px 10px 10px;
}

.chat-window-items .local {
    background-color: #20AAE1;
    float: right;
    margin: 10px 50px 10px 10px;
    border-radius: 10px 0px 10px 10px;
}

.righthead {
    width: 100%;
    height: 57px;
    background-color: #e3e3e3;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.overlay-participant-mobilenum {
    display: none;
}

.panel {
    border: none;
}

.group-info-contacts-block {
    width: 60%;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.delete-participant {
    color: #08A784;
    padding: 3px;
    border-radius: 2px;
    width: 70px;
    float: right;
}

.show-admin-list {
    color: #08A784;
    padding: 3px;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 10px;
    width: 70px;
    text-align: center;
    float: right;
}

.delete-participant {
    cursor: pointer;
}

.overlay-participants-name-block {
    display: flex;
    width: 100%;
    align-items: center;
    border-top: 1px solid #f6f6f6;
}

.overlay-group-name:focus,
.overlay-description:focus {
    outline-width: 0;
}

.overlay-group-name,
.overlay-description {
    border: none !important;
    width: 85% !important;
    padding: 12px 0px !important;
}

.exit-group {
    color: red;
    display: flex;
    cursor: pointer;
}

.overlay-group-participants-list .dropdown-menu {
    left: -90px;
    min-width: 110px;
    font-size: 12px;
    width: 110px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
}

.overlay-group-participants-list button.dropdown-toggle {
    background-color: #eeeeee00;
    color: #717171;
    border: none;
}

.overlay-group-participants-list button.dropdown-toggle:hover {
    background-color: #eeeeee00;
    color: #717171;
    border: none;
}

.overlay-group-participants-list .btn-primary.active,
.overlay-group-participants-list .btn-primary:active,
.overlay-group-participants-list .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #28609005 !important;
    border-color: #204d74;
}

.overlay-group-participants-list .dropdown-menu>li>a {
    width: 100%;
    padding: 3px 7px;
    text-align: left;
}

.overlay-participants-name-block .dropdown {
    float: right;
    padding-right: 15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rpanel {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
}

.istyping {
    width: 85%;
    padding-left: 10px;
    align-self: center;
}

.info {
    /* width: 85%; */
    padding-left: 10px;
    align-self: center;
}

.overlay-group-name-block,
.overlay-description-details-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#callBlockGroup {
    display: none;
}

#callBlock,
#callBlockGroup {
    margin: 0;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.action-btns {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.pstn-call {
    color: green;
}

.addParticipants {
    color: green;
}

.pstn-call:hover {
    color: #fff;
    background-color: green;
}

.video-call {
    color: green;
}

.audio-call {
    color: green;
}

.video-call:hover {
    color: #fff;
    background-color: green;
}

.audio-call:hover {
    color: #fff;
    background-color: green;
}

.remove-contact {
    color: green;
}

.remove-contact:hover {
    color: #fff;
    background-color: red;
}

.attachment {
    color: green;
}

.attachment:hover {
    color: #fff;
    background-color: green;
}

.profilePic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.send-message {
    width: 100%;
    padding: 10px;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    background-color: #eeeeee;
}

#chatBox {
    width: calc(100% - 100px);
    border-radius: 5px;
    height: 36px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
    padding: 0px 20px;
    margin: 0px 10px 0px 0px;
}

.profile-img img {
    width: 55px;
}

.profile-inner-page-block-1 {
    position: relative;
}

#profile-page {
    padding: 35px;
}

.profile-cam {
    position: absolute;
    top: 0;
    left: 30px;
}

.profile-cam img {
    width: 20px;
}

.profile-page-block-1 {
    display: flex;
    align-items: center;
}

.profile-page-block-1 .profile-name {
    font-size: 18px;
}

#profile-page input {
    width: 60%;
}

#profile-page label {
    margin-top: 20px;
    display: block;
}


/******************CALL*********************/

#callWrapper {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2183aa;
    height: 100vh;
    background-image: url(../images/dc-img/ic_calling_avatar@2x.png);
    background-repeat: no-repeat, repeat;
    background-size: 250px;
    background-position: center;
}

#groupCallWrapper {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background: #2183aa;
    height: 100vh;
    background-image: url(../images/dc-img/ic_calling_avatar@2x.png);
    background-repeat: no-repeat, repeat;
    background-size: 250px;
    background-position: center;
}

#groupCallWrapper .video-container span {
    border-radius: 0 0 5px 0;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: #fff;
    left: 0px;
    top: 0px;
    padding: 5px;
    font-size: 11px;
}

#groupCallWrapper video {
    height: 225px;
    width: 300px;
}

#groupCallWrapper .video-container {
    display: inline-block;
    vertical-align: baseline;
    background: #1b7396;
    background-image: url(../images/dc-img/ic_calling_avatar@2x.png);
    background-repeat: no-repeat, repeat;
    background-size: 150px;
    /* padding: 10px; */
    background-position: center;
    margin: 10px;
    position: relative;
}

#groupVideosBlock video {
    background-color: #000;
    z-index: 1;
    border: 1px solid #ccc;
}

#callControls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#conferenceCallControls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.call-controls {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}


/* #callEnd {
    background: red;
} */

.dc-logo {
    color: #128BAE;
    font-size: 25px;
    padding: 20px;
}

.ch-list-mem .mem-pic img,
.rphoto img {
    width: 40px;
}

.attachment img,
.group-video-call img,
.video-call img,
.group-audio-call img,
.group-attachment img,
.overlay-participants-image .mem-pic img,
.audio-call img {
    width: 35px;
}

#mute img {
    width: 40px;
}

.profileSaveBtn {
    background-color: #6acaf0;
    width: 200px !important;
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
}

.profileHead {
    width: 100%;
    height: 60px;
    background-color: #e3e3e3;
    padding: 22px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    display: none;
}

.profileInfo {
    font-size: 17px;
    font-weight: 600;
}

.recent-contacts img,
.contacts-list img,
.add-new-contact img,
.all-call img,
.all-chat img,
.create-group-call img,
.add-group-call img {
    width: 20px;
}

.call-controls:hover {
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.3);
}

.call-mem-pic {
    font-size: 120px;
    color: #ffffff;
}

#call-mem-name {
    font-size: 16px;
    margin: 20px 0 20px 0;
    color: #fff;
    /* z-index: 2;
    position: absolute; */
    /* bottom: 0px; */
}

.call-mem-time {
    font-size: 13px;
    /* margin: 20px 0 60px 0; */
    color: #fff;
    z-index: 2;
    /* bottom: 22px; */
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#uconstruction {
    width: 500px;
    height: 300px;
    border: 1px solid Black;
    text-align: left;
    position: absolute;
    top: calc(50vh - (/* height */
    300px / 2));
    left: calc(50vw - (/* width */
    500px / 2));
    z-index: 100;
    background: white;
}


/*  multi select dropdown */

span.multiselect-native-select {
    display: block;
}

.multiselect-native-select .btn-group {
    display: block;
}

.multiselect-native-select .btn-group button.multiselect {
    width: 100%
}

.multiselect-container {
    width: 100%;
    top: 40px;
    padding: 10px;
}


/* end of select dropdown */

.tstamp {
    display: flex;
    justify-content: space-between;
}